<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dc.bms.web.dao.SysUserResourceDao" >
  <resultMap id="BaseResultMap" type="com.dc.bms.web.domain.SysUserResource" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="resourceId" property="resourceid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, resourceId
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from sys_user_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dc.bms.web.domain.SysUserResource" >
    insert into sys_user_resource (id, userId, resourceId
      )
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{resourceid,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateById" parameterType="com.dc.bms.web.domain.SysUserResource" >
    update sys_user_resource
    set userId = #{userid,jdbcType=BIGINT},
      resourceId = #{resourceid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>