<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sysUsers" >
  <resultMap id="sysUsersMap" type="SysUsers" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="loginName" property="loginname" jdbcType="VARCHAR" />
    <result column="passWord" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, age, address, email, loginName, passWord
  </sql>
  <select id="selectById" resultMap="sysUsersMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_users
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from sys_users
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="sysUsers" >
    insert into sys_users (name, age, 
      address, email, loginName, 
      passWord)
    values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR})
  </insert>
  <update id="updateById" parameterType="sysUsers" >
    update sys_users
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      loginName = #{loginname,jdbcType=VARCHAR},
      passWord = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- add -->
  <resultMap id="accountMap" type="Account">
		<result property="loginName" column="loginName" />
		<result property="passWord" column="passWord" />
	</resultMap>
	
  <select id="getAccountByLoginName" resultMap="accountMap">
		SELECT u.loginName,u.passWord FROM SYS_USERS u WHERE u.loginName = #{loginName} or u.email = #{loginName}
  </select>
</mapper>