<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd"
        default-lazy-init="true">



	<bean id="sysUsersDao" class="com.dc.bms.web.dao.Impl.SysUsersDaoImpl" />
	<bean id="accountDao" class="com.dc.bms.web.dao.Impl.AccountDaoImpl" />
	<bean id="bmsUserDao" class="com.dc.bms.web.dao.Impl.BmsUserDaoImpl" />
	<bean id="bmsMenuDao" class="com.dc.bms.web.dao.Impl.BmsMenuDaoImpl" />
	
	
	
	<bean id="loginService" class="com.dc.bms.web.service.Impl.LoginServiceImpl" />
	<bean id="sysUsersService" class="com.dc.bms.web.service.Impl.SysUsersServiceImpl" />
	<bean id="bmsUserService" class="com.dc.bms.web.service.Impl.BmsUserServiceImpl" />
	<bean id="bmsMenuService" class="com.dc.bms.web.service.Impl.BmsMenuServiceImpl" />
	<bean id="menuResourceService" class="com.dc.bms.web.service.Impl.MenuResourceServiceImpl"></bean>
	
</beans>
